<div id="about">
  <h2><span *ngIf="about">About</span><span *ngIf="contact">Contact</span></h2>
  <div id="image-container">
    <img src='./../assets/me.jpg' alt='an image of Keith Evans'>
  </div>
  <hr>
  <div *ngIf="about">
    <p>
      I've spent most of my adult life saying that my dream job is doing puzzles for money. I'm currently studying at Epicodus to leverage my passion for puzzling and my love of languages to do exactly that by becoming a web developer.
    </p>

    <p>
      Approaching development from the linguistic side, I also bring a host of soft skills from my years in teaching and counseling positions: effective communication, collaboration and conflict mediation, among others. My goal is to bring my positive nature, my zeal for learning, and my deep belief in the boundless potential of all people to the Portland Tech scene.
    </p>
  </div>
  <div *ngIf="contact">
  </div>
</div>
