<div class="project" (mouseenter)='hoverEvent($event.target)' (mouseleave)='noHover($event.target)'>
  <div class="flipper">
    <div class="project-front">
      <div class="project-title">
        <h3>CODEpendency</h3>
      </div>
      <img src="./../assets/CODEpendency.png" alt="The front page of a website">
    </div>
    <div class="project-back">
      <p>
        The CODEpendency app allows users to create decks of flashcards for study as well as view all those that others have created.
      </p>
      <button><a href="https://codependency-45156.firebaseapp.com/" target="_blank">See it here</a></button>
    </div>
  </div>
</div>
