<div class="project" (mouseenter)='hoverEvent($event.target)' (mouseleave)='noHover($event.target)'>
  <div class="flipper">
    <div class="project-front">
      <div class="project-title">
        <h3>{{project.title}}</h3>
      </div>
      <img src="{{project.img}}" alt="The front page of a website">
    </div>
    <div class="project-back">
      <p>
      {{project.description}}
      </p>
      <button><a href="{{project.url}}" target="_blank">See it here</a></button>
    </div>
  </div>
</div>
